@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(@fontsource-variable/inter/files/inter-latin-opsz-normal.woff2);
}

@import 'tailwindcss';

@theme {
  --default-font-family: Inter;
}
